#cursos{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    .carta{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1200px;
        padding: 5px;
        margin: 20px;
        border: 1px solid $amarillo;
        border-radius: 15px;
        background-color: map-get($colores, negro2);
        transition: all 500ms ease;
        img{
            width: 250px;
            height: 300px;
            margin-right: 10px;
            border-radius: 15px;
        }
        .carta-parrafo{
            h3{
                color: map-get($colores, negro);
                border: 0.1px solid $amarillo;
                background-color: $amarillo;
                border-radius: 10px;
                border-color: map-get($colores, negro);
                padding: 7px;
                font-size: 2em;
            }
            p{
                padding-top: 75px;
                font-size: 20px;
                strong{
                    color: map-get($colores, amarillo2);
                    font-family: 'Roboto Condensed', sans-serif;
                }
            }
        }
        button{
            font-size: 0.9em;
            font-weight: bold;
            padding: 10px 20px;
            background-color: $amarillo;
            border-radius: 5px;
            border: 2px solid rgba(0, 0, 0, 0.5);
            color: black;
            margin-left: 7px;
        }
        button:hover{
            background-color: map-get($colores, blanco);
        }
    }
    .carta:hover{
    @include movimiento3;
    }
}