@media screen and (max-width:1280px){
    /* Proyectos */
    .proyectos-trabajos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 500px;
        .carta-proyecto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 5px 0px;
            padding: 0px 5px;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
            }
            img{
                display: flex;
                width: 100%;
                height: 100%;
                margin: 10px 0px;
            }
            h3{
                width: 100%;
            }
        }
    }
    /* Proyectos */
    /* Contacto */
    .contratar{
        .fondo-contratar{
            .contacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
            }
            textarea{
                width: 60%;
                display: flex;
                flex-direction: column;
            }
        }
        .ubi{
            display: none;
            h3{
                display: none;
            }
            iframe{
                display: none;
            }
        }
        }
    }
    .contacto .numero, .pais, .ciudad, .email, .comentario, .nombre{
        margin: 0;
    }
    /* Contacto */
    /* curso */
    #cursos{
        .programas{
            display: flex;
        flex-direction: column;
        align-items: center;
        .carta{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 550px;
            .carta-parrafo{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    padding: 2%;
                }
                h3{
                    width: 90%;
                    }
            }
        }
        img{
            width: 90%;
            margin: 10px 0px;
        }
    }
    /* curso */
    }
}

@media screen and (max-width:880px){
    /* Header */
    .header{
        width: 100%;
        height: 200px;
        position: relative;
        .logo-nav{
            display: flex;
            flex-direction: column;
            img{
                height: 75px;
                width: 150px;
            }
            .navegacion{
                display: flex;
                width: 100%;
                margin: 0;
                padding: 0;
                ul{
                    padding: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-bottom: 10px;
                    li{
                        width: 100%;
                        display: flex;
                        width: auto;
                        height: 25px;
                        a{
                            width: 100%;
                            height: 100%;
                            font-size: 0.7em;
                            text-align: center;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    /* Header */
    /* Index */
    .inicio{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    /* Index */
    /* Cursos */
    #cursos{
        margin-top: 50px;
        margin-bottom: 40px;
            }
    /* Cursos */
    /* Contratar */
    .contratar{
        margin-top: 50px;
        margin-bottom: 40px;
        .fondo-contratar{
            .contacto{
                display: flex;
                div{
                    margin: 20%;
                }
            }
        }
    }
    /* Contratar */
    /* Proyectos */
    .proyectos{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /* Proyectos */
    /* caracteristicas */
    #caracter{
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        .caracteristicas{
            display: flex;
            flex-direction: column;
            div{
                margin: 10px;
                width: 80%;
                img{
                    width: 90%;
                }
                p{
                    width: 90%;
                }
            }
        }
    }
    /* Caracteristicas */
}

@media screen and (max-width:770px){
    /* Body */
    .container{
        margin-top: 75px;
        }
    /* Body */
    /* Footer */
    footer{
    display: flex;
        .container-footer{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 0;
            .redes{
                width: 80%;
                justify-content: center;
                a{
                    display: flex;
                    padding: 0;
                    margin: 0;
                    font-size: 20px;
                    width: 100px;
                    justify-content: center;
                }
            }
        }
    }
    /* Footer */
}
@media screen and (max-width:520px){
    .container-footer{
        p{
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }
}
